<div class="share"><i class="fas fa-share-square"></i> {{ site.data.settings.sharing_button_prompt }}</div>
  <div class="sharing-icons">
    <a href="javascript:window.print()" target="_blank"><i class="fas fa-print" aria-hidden="true"></i></a>
    <a href="mailto:?subject=یه بلاگ جذاب&amp;body=پست های این بلاگ رو چک کن http://www.KauBosh.github.io." target="_blank"><i class="fas fa-envelope" aria-hidden="true"></i></a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    <a href="https://telegram.me/share/url?url={{ site.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fab fa-telegram" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
  </div>
</div>
