---
layout: default
---

<div class="progress"></div>
<script>var h = document.documentElement,
  b = document.body,
  st = 'scrollTop',
  sh = 'scrollHeight',
  progress = document.querySelector('.progress'),
  scroll;

document.addEventListener('scroll', function() {
  scroll = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
  progress.style.setProperty('--scroll', scroll + '%');
});</script>
<h1>
  {{ page.title }}
</h1>
<span class="post-authors">
	<i class="fas fa-user-astronaut"></i>
	{{ site.data.settings.authors }}
            {% for author in page.author %}
            <a href="{{site.baseurl}}/authors#{{author}}" class="author"> {{ author }},</a>
            {% endfor %}
			{% assign author = site.authors | where: 'title', page.author | first %}
{% if author %}
  <a href="{{ author.url }}">{{ author.title }}</a>
{% endif %}
			</span>
	
<span class="post-date">
  <i class="fas fa-calendar-alt"></i> {{ site.data.settings.post_date_prefix }}
<time id="date"></time><script>
    var date = '{{ page.date  }}'
    moment.loadPersian(true);
    var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
    document.getElementById("date").innerText = jalaliDate
</script></time></span>

<div class="post-tags">
            <span><i class="fas fa-tags"></i> {{ site.data.settings.tags }}</span>
            {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag"> {{ tag }},</a>
            {% endfor %}
</div><!-- End Tags -->
{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/post/thumbnail/{{ page.image }}">
{% endif %}

{{ content }}

{% include social-sharing.html %}

{% if page.previous.url %}
<span class="post-button-prev"><a href="{{page.previous.url}}"><i class="fas fa-arrow-right"></i> {{page.previous.title}}</a></span>
{% endif %}
{% if page.next.url %}
<span class="post-button-next"><a href="{{page.next.url}}">{{page.next.title}} <i class="fas fa-arrow-left"></i></a></span>
{% endif %}
</br></br>
{% include related-posts.html %}
<div id="graphcomment"></div>
<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  // make sure the id is yours
  window.gc_params = {
    graphcomment_id: 'Kau-Bosh',

    // if your website has a fixed header, indicate it's height in pixels
    fixed_header_height: 0,
  };

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
</script>
<!--{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}-->
